pyramid-literal-block {
    background-color: #5d8cd4;
}
pyramid-symbol-block,
pyramid-add-block,
pyramid-sub-block,
pyramid-mul-block,
pyramid-mod-block,
pyramid-pow-block {
    background-color: #40a5a8;
}
pyramid-define-block {
    background-color: #f09ecb;
    outline: white solid 2px;
}
pyramid-list-block {
    background-color: #99a9c2;
}
pyramid-if-block {
    background-color: #ea7f90;
}
pyramid-map-block,
pyramid-push-block,
pyramid-pop-block,
pyramid-rest-block,
pyramid-length-block {
    background-color: #66bbaa;
}

.pyramid-block {
    color: rgba(0, 0, 0, 0.6);
    width: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    transition-duration: 0.2s;
    min-width: max-content;
}

.pyramid-block:hover {
    transition-duration: 0.25s;
    transform: scale(1.4, 1.4);
}

span.content {
    color: white;
    font-weight: bold;
}

.pyramid-invalid-block>div.content-wrapper>span.content {
    color: #d20519;
}

.pyramid-invalid-block>span.type {
    font-style: italic;
}

span.type {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    box-sizing: border-box;
    order: -1;
}

span.pyramid-argument {
    color: white;
    margin-left: 16px;
}

.pyramid-menutab {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition-duration: 0.2s;
    min-width: max-content;
}
.pyramid-menutab:hover {
    transition-duration: 0.25s;
    transform: scale(1.5, 1.5);
}

h2 {
    color: #1e293b;
    margin-bottom: 0.5rem;
    font-size: x-large;
}

h3 {
    color: #1e293b;
    margin-top: 2rem;
    margin-bottom: 0.25rem;
    font-size: x-large;
}

h4 {
    color: #1e293b;
    margin-top: 1rem;
    font-size: large;
}

h5 {
    color: #64748b;
    margin-top: 0.25rem;
    margin-left: 5px;
}

p {
    color: #1e293b;
}

a.textlink {
    color: #009ad4;
}

a.textlink:hover {
    opacity: 0.8;
}